* {
	box-sizing: border-box;
}

body {
	background-color: #FFEDDA;
	background-color: rgba(255, 237, 218, 0.58);
}

/*<!-- border -->*/
.top, .bottom, .left, .right {
	background: #F1C3C2;
	position: fixed;
}

.left, .right {
	top: 0; 
	bottom: 0;
	width: 1em;
}

.left { 
	left: 0; 
}

.right { 
	right: 0; 
}

.top, .bottom {
	left: 0; 
	right: 0;
	height: 1em;
}

.top { 
	top: 0; 
}

.bottom { 
	bottom: 0; 
}

/*logo starting stage*/
.logo-big {
	margin-left: auto;
	margin-right: auto;
	display: block; 
}

.logo-small {
	width: 10em;
	height: auto;
}

.heading {
	text-align: center;
	margin-top: 5em;
	font-family: 'Oswald', sans-serif;
	color: #F1C3C2;
	
}
h1 .logo-small {
	vertical-align:middle;
/*    margin-top: -13px;*/
}

h1 span {
	margin-right: -.75em;
	margin-left: -.75em;
}